.App {
  text-align: center;
}


.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;
  margin-top: 15px;
  padding: 0 20px;
  border-radius: 15px;
  width: 70%;
  height: 70px;

  .topbar-left {
    display: flex;


    .searchBar {

      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      z-index: 5;

      input {
        //display: block;
        width: 400px;
        height: 30px;
        font-family: "Heebo", sans-serif;
        font-size: 15px;
        color: #7a7a7a;
        background-color: whitesmoke;
        border: none;
        margin-left: 10px;
        padding: 0 10px;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: #a4a4a4;
        }

      }

      .search-icon {
        color: #8d8d8d;
        font-size: 20px;
        cursor: pointer;
      }

      .small-loader {

        margin: auto;
        border: 3px solid #f3f3f3;
        border-radius: 50%;
        border-top: 3px solid #343434;
        width: 18px;
        height: 18px;
        -webkit-animation: spin .5s linear infinite; /* Safari */
        animation: spin .5s linear infinite;
      }


      .searchSuggestions {
        position: absolute;
        top: 60px;
        border-radius: 20px;


        .suggestion-card {

          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          //border-bottom: solid 1px #dddddd;
          border-radius: 10px;
          background-color: #fcfcfc;
          width: 400px;
          height: 45px;
          margin-top: 10px;
          padding: 5px 13px;
          animation-duration: 1s;
          animation-name: slidein;
          box-shadow:1px 1px 2px 0 rgba(207, 207, 207, 0.2), 1px 1px 15px 2px rgba(191, 191, 191, 0.2);


          &:hover {
            //background-color: #e5e5e5;
            text-decoration: none;
          }
          &:link {
            text-decoration: none;
          }

          img {
            height: 33px;
            margin: auto;
          }


          .suggestion-text {
            display: flex;
            flex-direction: column;
            font-family: "Heebo", sans-serif;
            font-weight: 400;
            font-size: 15px;
            margin: 0 10px;
            width: 80%;
            z-index: 6;


            &:hover {
              text-decoration: none;
            }


            span {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              text-decoration: none;

              //border: solid red 1px;

              &:first-of-type {
                color: #2b2b2b
              }

              &:nth-of-type(2) {
                color: #606060;
              }
            }


          }


        }

        .see-more {
          display: flex;
          justify-content: center;
          text-align: center;
          height: 30px;
          color: #5b5b5b;

          border-radius: 0 0 5px 5px;


        }

      }

    }
  }


  .topbar-right {
    display: flex;
    flex-direction: row;
    align-items: center;


    .topbar-element-group {
      &:before {
        content: "";
        background-image: linear-gradient(rgba(210, 210, 210, 0.1), rgba(210, 210, 210, 0.7), rgba(210, 210, 210, 0.1));
        height: 35px;
        width: 1px;
        margin-right: 7px;
      }

      display: flex;
      flex-direction: row;
      align-items: center;

      .display-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        margin: 0 10px;
        padding: 5px;
        width: 30px;
        height: 30px;
        background-color: #dedede;
        color: #ffffff;
        box-shadow: 0 0 0 2px #ffffff, 1px 1px 2px 0 rgba(186, 186, 186, 0.2), 1px 1px 15px 2px rgba(140, 140, 140, 0.2);

        font-family: 'Heebo', sans-serif;
        font-size: 14px;
        font-weight: 700;
      }


      .topbar-element-texts {
        display: flex;
        flex-direction: column;


        p {
          font-family: 'Cabin', sans-serif;
          font-weight: 700;
          font-size: 12px;
          margin: 0;
          color: #b1b1b1;
        }

        h4 {
          font-family: 'Heebo', sans-serif;
          font-weight: 700;
          font-size: 16px;
          color: #777777;
        }


      }

      .dropdown-div {
        //border: 1px red solid;
        width: 25px;
        height: 25px;
        margin-left: 10px;
        cursor: pointer;

        .dropdown-icon {
          font-size: 15px;
          color: #606060;


        }
      }

    }
  }


}


@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

