.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchBar {
  display: flex;
  margin-right: 70px;
  position: relative;
  z-index: 5;
  width: 300px;


  input {
    width: 300px;
    height: 30px;
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    color: #2b2b2b;
    background-color: whitesmoke;
    border-radius: 3px;
    border: #b1b1b1 1px solid;
    padding: 3px 10px;
  }

  .search-icon {
    color: #343434;
    position: absolute;
    font-size: 15px;
    top: 3px;
    right: 10px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .small-loader {
    position: absolute;
    top: 6px;
    right: 10px;
    margin: auto;
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #343434;
    width: 18px;
    height: 18px;
    -webkit-animation: spin .5s linear infinite; /* Safari */
    animation: spin .5s linear infinite;
  }


  .searchSuggestions {
    position: absolute;
    top: 30px;
    border-radius: 10px;


    .suggestion-card {

      display: flex;
      flex-direction: row;
      border-bottom: solid 1px #dddddd;
      border-radius: 1px;
      background-color: whitesmoke;
      width: 300px;
      height: 45px;
      //margin-top: 2px;
      padding: 5px 13px;
      animation-duration: 1s;
      animation-name: slidein;

      &:hover {
        background-color: #e5e5e5;

      }


      img {
        height: 33px;
        margin: auto;
      }


      .suggestion-text {
        display: flex;
        flex-direction: column;
        font-family: "Lora", serif;
        font-weight: 500;
        font-size: 11px;
        margin: auto;
        width: 80%;
        z-index: 6;


        &:hover {
          text-decoration: none;
        }


        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-decoration: none;

          //border: solid red 1px;

          &:first-of-type {
            color: #2b2b2b
          }

          &:nth-of-type(2) {
            color: #606060;
          }
        }


      }


    }

    .see-more {
      display: flex;
      justify-content: center;
      text-align: center;
      height: 30px;
      color: #5b5b5b;

      border-radius: 0 0 5px 5px;


    }

  }

}


@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}