//for chatbox
.chatbox-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 500px;
  background-color: #f6f6f6;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 1px 1px 2px 0 rgba(183, 183, 183, 0.5),
  1px 1px 20px 2px rgba(181, 181, 181, 0.3);
  margin-bottom: 40px;

  h3 {
    margin-top: 10px;
    font-family: "Cabin", sans-serif;
    font-size: 20px;
  }

  .messages-scroll-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: scroll;
    scrollbar-width: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    .messages-div {
      overflow-x: hidden;
      //border: 1px solid red;
      width: 100%;

      .message-card {
        //border: 1px solid red;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 3px;

        &.peer {
          align-items: flex-start;
          padding-left: 20px;
        }

        &.user {
          align-items: flex-end;
          padding-right: 20px;
        }

        .message-bubble {
          padding: 6px 12px;
          max-width: 200px;
          min-width: 50px;

          &.peer {
            background-color: #375aa7;
            border-radius: 9px 9px 9px 2px;
          }

          &.user {
            border-radius: 9px 9px 2px 9px;
            background-color: #18408a;
          }
        }

        h6 {
          font-family: "Cabin", sans-serif;
          font-size: 10px;
          font-weight: bold;
          margin: 0;
          color: #f6f6f6;
        }

        p {
          font-family: "Heebo", sans-serif;
          font-size: 13px;
          margin: 0;
          color: #fcfcfc;
        }
      }
    }
  }

  .chat-bottom-div {
    padding-bottom: 10px;

    .chat-notif-div {
      height: 30px;
      font-family: "Heebo", sans-serif;
      font-size: 12px;
    }

    .chat-input-div {
      //border: solid red 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 15px;

      input {
        border: #b3b3b3 1px solid;
        border-radius: 20px;
        padding: 2px 15px;
        font-family: "Cabin", sans-serif;
        margin: 0 5px 0 5px;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: #a4a4a4;
        }
      }

      .send-button-div {
        display: flex;
        justify-content: center;
        align-items: center;
        //border: solid red 1px;
        border-radius: 25px;
        width: 25px;
        height: 25px;
        background-color: #193f86;
        cursor: pointer;

        .send-icon {
          color: whitesmoke;
          font-size: 15px;
        }
      }
    }
  }
}

// for event pagew
.page-main-div {



  .page-left {


    .event-name-div {
      //border: red solid 1px;


      h6 {
        margin: 0;
        font-family: "Cabin", sans-serif;
        font-size: 15px;
        color: #b3b3b3;
      }

      h1 {
        margin: 0;
        font-family: "Heebo", sans-serif;
        font-weight: 700;
        font-size: 30px;
        color: #0f2662;
      }
    }

    .participants-div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 30px;
      //border: red solid 1px;

      h2 {
        font-family: "Heebo", sans-serif;
        font-size: 30px;
        font-weight: 200;
        margin: 0 20px 0 0;
      }

      p {
        font-family: "Heebo", sans-serif;
        font-size: 15px;
      }


      .participant-cards-div {
        display: flex;

        .participant-card {
        background-color: #e3e3e3;
        border-radius: 10px;
        padding: 5px 10px;
        margin: 0 3px;

        &.ready {
          background-color: #79e270;
        }

        p {
          font-family: "Heebo", sans-serif;
          margin: 0;
          font-size: 12px;
        }
      }
      }


    }

    .date-range-main-div {
      //border: solid red 1px;

      input {
        margin: 10px 10px;
      }
    }

    .planner-main-div {
      //border: red solid 1px;
      margin-top: 50px;

      .planner-header-div {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        //border: red solid 1px;
        p {
          font-family: "Heebo", sans-serif;
          font-size: 20px;
          margin: 0;
        }

        .ready-button-div {
          margin-left: 20px;
          background-color: #9d9d9d;
          //border: red solid 1px;
          cursor: pointer;

          //width: 30px;
          padding: 20px 10px;
          height: 30px;
          display: flex;
          border-radius: 10px;
          justify-content: center;
          align-items: center;


          &.ready {
            background-color: #183396;
            box-shadow: 1px 1px 2px 0 rgba(190, 190, 190, 0.5),
            1px 1px 10px 2px rgba(181, 181, 181, 0.3);

            &:hover {
              //width: 220px;
              transform: scale(1.05);
              transform-origin: center;
              transition-duration: 0.4s;

            }
          }


          p {
            font-size: 15px;
            padding: 0 10px;
            margin: 0;
            color: #ffffff;
          }

          .ready-button {

            color: #e2e2e2;


            &.ready {
              color: #39d639;
            }


          }
        }

      }


      .dateblocks-chooser-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        justify-items: center;
        //border: red solid 1px;

        .date-card {

          &:hover {
            //width: 220px;
            transform: scale(1.04);
            transform-origin: center;
            box-shadow: 1px 1px 5px 0 rgba(190, 190, 190, 0.4),
            1px 1px 20px 2px rgba(188, 188, 188, 0.2);
            transition-duration: 0.3s;
          }

          &.blocked {
            transform: none;
            opacity: 0.3;
            box-shadow: none;
            background-color: #f3f3f3;
          }

          p {
            font-family: "Cabin", sans-serif;
            font-weight: 500;
            font-size: 15px;
            margin: 0;
          }
        }
      }
    }

    .date-card {
      display: flex;
      align-items: center;
      padding: 0 20px;
      width: 200px;
      height: 45px;
      background-color: #fafafa;
      margin-bottom: 10px;
      border-radius: 10px;
      cursor: pointer;
      box-shadow: 1px 1px 2px 0 rgba(190, 190, 190, 0.5),
      1px 1px 10px 2px rgba(181, 181, 181, 0.3);


      &.blocked {
        opacity: 0.5;
      }

      p {
        font-family: "Cabin", sans-serif;
        font-weight: 500;
        font-size: 15px;
        margin: 0;
      }
    }

    .dates-results-main-div {
      margin: 30px 0;

      p {
        font-family: "Heebo", sans-serif;
        font-size: 20px;
      }

      .results-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        justify-items: center;


        .date-card {
          background-color: #7ed07e;

          &.confirm {
            background-color: greenyellow;
          }

          p {
            font-family: "Cabin", sans-serif;
            font-weight: 500;
            font-size: 15px;
            margin: 0;
          }


        }
      }


    }
  }


  .page-right {

    .friends-list-div {

      height: 300px
    }
  }
}

@keyframes grow-date-card {
  0% {
    width: 200px;
  }
  15% {
    width: 210px;
  }
  75% {
    width: 220px;
  }
  100% {
    width: 230px;
  }
}