//Welcome Page Styling
#container {
    color: rgb(124, 124, 124);
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    width: 900px;
    display: block;
    position: fixed;
  }
  
  #flip {
    height: 52px;
    overflow: hidden;
    text-align: left;
    div{
      div{
        color: #fff;
      padding: 3px 12px;
      height: 45px;
      margin-bottom: 45px;
      display: inline-block;
      }
    }

    div:first-child {
      animation: show 5s linear infinite;
    }
    
  }


  
  #flip div div {
    padding: 0;
    background: #80eebb;
  }
  
  #flip div:first-child div {
    background: #88d8f3;
    padding: 0;
  }
  
  #flip div:last-child div {
    background: #f6879e;
    padding: 0;
  }
  
  @keyframes show {
    0% {
      margin-top: -270px;
    }
    5% {
      margin-top: -180px;
    }
    33% {
      margin-top: -180px;
    }
    38% {
      margin-top: -90px;
    }
    66% {
      margin-top: -90px;
    }
    71% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -270px;
    }
  }
  
  .get_started {
    color: rgb(124, 124, 124);
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    width: 100%;
    display: block;
    padding-top:0;
    margin: 0;
  }
  
  .float_right {
    float: right;
    padding: 0;
    margin: 0;
  }
 
  
  .line {
    height: 250px;
    width: 1px;
    background-color: grey;
    margin-left: 50%;
    margin-bottom: 30%;
  }
  
  .divider {
    // position: fixed;
    height: 300px;
    width: 1px;
  }
  
  .width_screen {
    width: 100vh;
    height: 100vh;
    margin-top: 18%;
    margin-left: 20%;
    
  }
  
  .signupButton {
    margin-left: 50%;
    opacity: 1;
    transition: 1s;
    font-size: 30px;
    border: none;
    background-color: #f7f7f7;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: "Heebo", sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    color: #80eebb;
    font-weight: bold;
  }
  
  .hoveringleft:hover {
    .signupButton {
      opacity: 1;
    }
  }
  
  .loginButton {
    opacity: 1;
    transition: 1s;
    font-size: 30px;
    border: none;
    background-color: #f7f7f7;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: "Heebo", sans-serif;
    color: #88d8f3;
    font-weight: bold;
  }
  
  .hoveringright:hover {
    .loginButton {
      opacity: 1;
    }
  }
  